<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %></h2>
    <ul>
      <% @user.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user,local: true) do |f| %>
<div>
  <%= f.label :name,"お名前" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :email,"メールアドレス" %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :child_name,"お子様のお名前" %>
  <%= f.text_field :child_name %>
</div>
<div>
  <%= f.label :birthday,"お子様の誕生日" %>
  <%= f.date_select :birthday %>
</div>
<div>
  <%= f.label :image,"タイトル画像" %>
  <%= f.file_field :image , id: :user_image %>
  <%= f.hidden_field :image_cache %>
</div>
<div>
  <%= f.label :comment,"自己紹介" %>
  <%= f.text_area :comment %>
</div>
<div>
  <%= f.label :password,"パスワード" %>
  <%= f.password_field :password %>
</div>
<div>
  <%= f.label :password_confirmation,"パスワードの確認" %>
  <%= f.password_field :password_confirmation %>
</div>

<div>
  <%= f.submit "登録します" %>
</div>
<% end %>
