<div class="portfolio-modal">
  <div class="portfolio-modal-dialog bg-secondary">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-primary mb-2">
            <%= @bord.title %>
          </h2>
          <p class="mb-5"><%= @bord.content %></p>
          <p class="text-primary mb-5">By: <%= @bord.user.name %></p>
        </div>
      </div>
      <hr class="star-dark">
      <div id="comments_area">
        <%= render partial: 'bord_comments/index', locals: { comments: @comments, bord: @bord } %>
      </div>
      <%= render partial: 'bord_comments/form', locals: { comment: @newcomment, bord: @bord } %>
      <p><%= link_to "掲示板一覧へ", trouble_bords_path, class:  "btn btn-info btn-lg rounded-pill" %></p>
    </div>
  </div>
</div>
