<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="text-center text-uppercase text-primary mb-0">日記一覧</h2>
    <%= search_form_for @search do |f| %>
      <div class="input-group">
        <!-- <%= f.label :title_or_content_or_user_name_cont, "検索" %> -->
        <%= f.text_field :title_or_content_or_user_name_cont, class: "form-controll", placeholder: "キーワード検索" %>
          <div class="input-group-btn">
            <%= button_tag '<i class="fa fa-search"></i>検索'.html_safe, type: "submit", class: "btn btn-default btn-s-md" %>
            <!-- <%= f.submit button:"btn btn-default" %> -->
          </div>
      </div>
    <% end %>
    <div>
      <!-- <%= page_entries_info @posts %> -->
      <% if @search_posts.empty? %>
        <div class="m-5 text-center"><h1><%= "検索結果はありませんでした" %></h1></div>
        <div class="text-center"><%= link_to "日記一覧を表示する", posts_path %></div>
      <% end %>
    </div>

    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-6 col-lg-4 post-grid">
        <!-- <%= post.title %> -->
        <%= link_to post_path(post.id) do %>
          <div>タイトル：<%= post.title %></div>
          <div>投稿者：<%= post.user.name %></div>
          <div><%= image_tag post.image %></div>
        <% end %>
      </div>
      <% end %>
      <%= paginate @posts %>

  </section>
